body {
    background: #f2f2f2;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

nav{
    background:rgb(53, 15, 54);
}

.lista {
    padding-top: 0px;
    padding-bottom: 0px;
}

.lista a{
    padding: 12px;
    color: #fff;
}

nav ul li a{
    text-align:center
}

nav.navbar ul li a{
    position:relative
}
nav.navbar ul li a:before,nav.navbar ul li a:after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    box-sizing:border-box;
    transform:scale(0);
    transition:0.5s
}
nav.navbar ul li a:before{
    border-bottom:2px solid #fff;
    border-left:2px solid #fff;
    transform-origin:0 100%
}
nav.navbar ul li a:after{
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform-origin:100% 0%
}
nav.navbar ul li a:hover:after,nav.navbar ul li a:hover:before{
    transform:scale(1)
}

/* -- Barra Lateral --*/
.contenini {
    margin-top: 54px;
}

.barra-lateral{
    background: #262a34;
    color: #fff;
    min-width: 300px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral a{
    color: #fff;
}

.barra-lateral .logo h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

/* -- Menu --*/
.barra-lateral .menu a{
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.barra-lateral .menu a:hover{
    background: #862f5f;
    text-decoration: none;
}

.barra-lateral .menu a i{
    margin-right: 20px;
    font-weight: normal;
}

.card {
    background:rgb(53, 15, 54);
    color: #fff;
}

.card .btn {
    background:rgb(86, 28, 88);
    color: #fff;
}

.card .btn:hover {
    background:#862f5f;
}

/* --MediaQueries --*/
@media screen and (max-width: 1300px){
    
    .barra-lateral{
        min-width: auto;
    }

    .barra-lateral .logo{
        display: none;
    }

    .barra-lateral .menu a span{
        display: none;
    }

    .barra-lateral .menu a i{
        margin: 0;
    }
}

@media screen and (max-width: 575px){
    
    .barra-lateral{
        min-height: auto;
    }

    .barra-lateral .menu a{
        display: inline-block;
        border-bottom: none;
    }
}
