{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DaleTuCortech | Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/icono.ico'%}">
    {% block css %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>

<body>
    <nav class="navbar lista navbar-expand-md fixed-top">
        <!--logo + menu con boton-->       
        <a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'img/Negro_y_Rosa_Neon_Club_Logotipo.png' %}" style="width: 182px; height: 30px;" class="logo" alt=""></a>
        <button class="navbar-toggler navbar-dark" data-toggle="collapse" data-target="#fm-menu" aria-controls="fm-menu" aria-expanded="false" aria-label="Menu">
            <span class="navbar-toggler-icon"></span> 
        </button>

        <div class="collapse navbar-collapse " id="fm-menu">
            <ul class=" navbar-nav ml-auto ">                
                <li class="nav-item ">
                    <a href="{% url 'index' %}" class="nav-link">
                        <i class="fas fa-home mr-2"></i>Inicio
                        
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="{% url 'productos' %}" class="nav-link ">
                        <i class="fas fa-store mr-2"></i>Productos
                    </a>
                </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item ">
                        <a href="#" class="nav-link "><i class="fas fa-user-circle mr-1"></i>{{ user.username }}</a>
                    </li>
                    <li class="nav-item ">
                        <a href="{% url 'logout' %}" class="nav-link ">
                            <i class="fas fa-door-open mr-2"></i>Cerrar Sesión
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item ">
                        <a href="{% url 'login' %}" class="nav-link ">
                            <i class="fas fa-user mr-2"></i>Iniciar Sesión
                        </a>
                    </li>
                    {% endif %}               
            </ul>
        </div>
    </nav>

    <div class="container-fluid contenini">
        <div class="row">
            <div class="barra-lateral col-12 col-sm-auto">
                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <a href="{% url 'inicioAdmin' %}"><i class="fas fa-home"></i><span>Inicio</span></a>
                    <a href="{% url 'categoriaAdmin' %}"><i class="fas fa-list-ul"></i><span>Categorias</span></a>
                    <a href="{% url 'productosAdmin' %}"><i class="fas fa-box-open"></i><span>Productos</span></a>
                    <a href="{% url 'galeriaAdmin' %}"><i class="fas fa-images"></i><span>Galeria</span></a>
                    <a href="{% url 'promocionesinicioAdmin' %}"><i class="fas fa-tag"></i><span>Promociones Inicio</span></a>
                    <a href="{% url 'promocionesproductosAdmin' %}"><i class="fas fa-tag"></i><span>Promociones Productos</span></a>
                </nav>
            </div>

            <main class="main col">
                <div class="container">
                    {% block contenido %}

                    {% endblock %}
                </div>
            </main>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'js/base.js' %}"></script>

    {% if messages %}
        {% for m in messages %}
            <script>alerta("{{m}}")</script>
        {% endfor %}
    {% endif %}
</body>
</html>