{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block contenido %}
<div class="row mb-4 justify-content-between">
    <div class="col-12 col-md-6 mt-5">
        <h2 class="text-md-left text-center">Listado Productos</h2>
    </div>
    <div class="col-12 col-md-4 mt-md-5 mt-3 d-flex">
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
            Nuevo Producto
        </button>
    </div>
</div>

<table class="table table-sm table-striped table-hover table-responsive-xl">
    <tr>
        <th>Imagen</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Stock</th>
        <th>Caracteristica 1</th>
        <th>Caracteristica 2</th>
        <th>Caracteristica 3</th>
        <th>Caracteristica 4</th>
        <th>Caracteristica 5</th>
        <th>Opciones</th>
    </tr>

    {% for p in entity %}
        <tr>
            <td><img src="{{ p.imagen.url}}" alt="{{ p.nombre }}" width="50px" height="50px"></td>
            <td>{{p.id}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.precio}}</td>
            <td>{{p.categoria}}</td>
            <td>{{p.stock}}</td>
            <td>{{p.caracteristica_1}}</td>
            <td>{{p.caracteristica_2}}</td>
            <td>{{p.caracteristica_3}}</td>
            <td>{{p.caracteristica_4}}</td>
            <td>{{p.caracteristica_5}}</td>
            <td class="justify-content-around d-flex">
                <a class="mr-2" href="{% url 'modificarProductoAdmin' p.id %}"><i class="fas fa-pencil-alt"></i></a>
                <a href="#" onclick="eliminar('pr', {{ p.id }})"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>
<div>
    {% include 'core/paginator.html' %}
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form | crispy }}
                    <input class="btn btn-primary float-right ml-2" type="reset" value="Limpiar">
                    <input class="btn btn-success float-right" value="Registrar" type="submit" name="Guardar">
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}