<!doctype html>
<html lang="es">
   <head>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="css/estilos.css">
      <title>Noticias || Cebollitas Gaming</title>
      <link rel="icon" type="image/png" href="fotos/icono.ico">
      <script src="js/Cookies.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav1">
         <a class="navbar-brand" href="home.html"><img src="fotos/logo_v2.png" alt=""></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto">
            </div>
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link doraditoHover" href="login.html">Unete</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link doraditoHover" href="team.html">Equipo</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link doraditoHover" href="nosotros.html">Nosotros</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link doraditoHover" href="Noticias.html">Noticias</a>
               </li>
            </ul>
         </div>
      </nav>
      <div class="margen_noticias">
         <div class="container">
            <div class="row table margen_lista">
               <div class="col-md-6 col-sm-12 cp">
                  <img src="fotos/Faker.png" alt="Dios" class="noticia_img margen_lista">
               </div>
               <div class="col-md-6 col-sm-12">
                  <h2 class="titulo">Cebollitas Gaming ficha a Faker</h2>
                  <br>
                  <p class="entrevista textos"> 
                     A escasos días del sorteo para la fase de Play In del mundial de este año, Cebollitas Gaming dio un anuncio que causó revuelo en el mundo de los Esports.
                     <br>
                     <br>
                     En una conferencia de prensa presentaron a su nuevo Mid Laner, pero no revelaron su identidad hasta el final de la conferencia. Todo el auditorio quedó en silencio
                     cuando apareció en escena Faker con la camiseta de Cebollitas Gaming.
                     <br>
                     <br>
                     El ahora ex mid laner del equipo T1, equipo que no logró clasficiar para el mundial, reveló que su contrato con T1 había tenido un abrupto final por problemas internos entre su persona y
                     los directivos del equipo. Además comentó que Cebollitas Gaming ya había entablado negocioaciones con T1 para adquirir su pase e incluirlo en el equipo.
                     <br>
                     <br>
                     Faker añadió lo siguiente: <i><b>Agradezco a Cebollitas por permitir unirme al equipo en plazos fuera de lo establecido, prometo dar lo mejor para apoyar al equipo.</b></i>  
                  </p>
               </div>
               </div>
            </div>
         </div>   
      <div id=patrocinador>
         <div class="container">
            <h3 class="text-center doradito">Patrocinadores</h3>
            <div class="row cp">
               <div class="col-md-3 col-sm-6">
                  <a href="https://www.nvidia.com/es-es" target="_blank"><img class="" alt="Nvidia" src="fotos/nvidia.png" id="logo-nvidia">
                  </a>
               </div>
               <div class="col-md-3 col-sm-6">
                  <a href="https://www.monsterenergy.com/" target="_blank"><img class="" alt="Monster Energy" src="fotos/monster_logo.png" id="logo-monster">
                  </a>
               </div>
               <div class="col-md-3 col-sm-6">
                  <a href="https://www.hyperxgaming.com/latam" target="_blank"><img class="" alt="HyperX" src="fotos/hyperx.png" id="logo-hyperx">
                  </a>
               </div>
               <div class="col-md-3 col-sm-6">
                  <a href="https://www.amd.com/es" target="_blank"><img class="" alt="AMD" src="fotos/amd.png" id="logo-amd">
                  </a>
               </div>
            </div>
         </div>
      </div>
      <footer class="footer mt-auto py-3 bg-dark">
         <div class="container" id=foter>
            <h4 class="text-center blanco">Contacto</h4>
            <div class="row blanco">
               <div class="col-md-4 col-sm-8">
                  <h5>Correo</h5>
                  <p>contacto@cebollitas.com</p>
               </div>
               <div class="col-md-4 col-sm-8">
                  <h5>Telefono</h5>
                  <p>+56967535733</p>
               </div>
               <div class="col-md-4 col-sm-8">
                  <h5>Direccion</h5>
                  <iframe
                     width="300"
                     height="225"
                     style="border:0"
                     src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDxSzLhAQm8sQDTC5gNJV3Zn20WViJLX-0
                     &q=Av.+Apoquindo+5550,+Las+Condes,+Región+Metropolitana" allowfullscreen>
                  </iframe>
               </div>
            </div>
         </div>
         <div class="container" id="redes">
            <div class="row blanco justify-content-between">
               <div class="col-md-4 col-sm-8">
                  <img src="fotos/logo_v2.png" alt="Cebollitas">
               </div>
               <div class="col-md-4 col-sm-8">
                  <span id=copy>© 2004 - 2020, Cebollitas Ltda, All rights reserved.</span>
               </div>
               <div class="mr-auto">
               </div>
               <div class="col-md-4 col-sm-8">
                  <a class="" href="https://www.youtube.com/channel/UCLRP9QMkvo487c6g_2VNlLg" target="_blank"><img class="" alt="Youtube" src="fotos/youtube.png"  id="logo-yt">
                  </a>
                  <a href="https://www.twitch.tv/mrmeme_cg" target="_blank"><img class="" alt="Twitch" src="fotos/515px-Twitch_Glitch_Logo_Black.png"  id="logo-tw">
                  </a>
                  <a href="https://www.instagram.com/cebollitas_gaming/" target="_blank"><img class="" alt="Instagram" src="fotos/insta.png"  id="logo-insta">
                  </a>
                  <a href="https://www.facebook.com/" target="_blank"><img class="" alt="Facebook" src="fotos/facebook.png"  id="logo-face">
                  </a>
               </div>
            </div>
         </div>
      </footer>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </body>
</html>